@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    /* color: white; */
    /* background: black; */
  }
}

/* h5{
  color:
} */

.backgrounNav{
  background-color: rgb(98, 11, 11);
  color: white;
}

.boxSearch{
  padding-top: -70px;
  z-index: 999;
}

.inputForm{
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;

}

.order-bottom{
  background: #f8f8f8;
  text-align: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.widthBox{
  width: 1200px;
}

.widthinput{
  width: 900px;
}

.inputSearch{
  width: 1024px;
}
